header{
    height: 679px;
}

.hero{
    position: absolute;
    margin-top: -10px;
    right: 0;
}

.cabecalho{
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    margin: 0 59px;
}

.logo{
    display: flex;
    text-decoration: none;
}

.logo img{
    width: 68px;
    height: 74px;
    margin-right: 8px;
    margin-top: 9px;
}

.logo h1{
    margin-top: 26px;
    font-size: 32px;
    color: #800CB7;
}

.menu{
    display: flex;  
}

.menu a{
    color: white;
    font-size: 22px;
    margin-right: 25px;
    margin-top: 26px;
    text-decoration: none;
}

.menu img{
    width: 44px;
    height: 44px;
    margin-top: 16px;
}

.menu-r{
    display: flex;  
}

.menu-r a{
    color: #800CB7;
    font-size: 22px;
    margin-right: 25px;
    margin-top: 26px;
    text-decoration: none;
}

.menu-r img{
    width: 44px;
    height: 44px;
    margin-top: 16px;
}


.usuario{
    display: flex;
}

.usuario a{
    margin-left: 13px;
    text-decoration: none;
}

.heroDiv{
    margin-top: 148px;
    margin-left: 59px;
    width: 357px;
    height: 150px;
}

.heroDiv h3{
    font-weight: bold;
    font-size: 20px;
}

.heroDiv p{
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 14px;
    width: 313px;
}

.btnHero{
    color: white;
    font-size: 12px;
    text-decoration: none;
    background-color: #800CB7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 30px;
    border-radius: 18px;
}

.heroText{
    position: relative;
    left: 37%;
    top: 120px;
    width: 384px;
}

.heroText h2{
    font-size: 50px;
    color: white;  
    height: 196px;
}

.heroText h3{
    font-size: 38px;
    font-weight: bold;
    color: white;
    margin-bottom: 27px;
}

.heroText p{
    font-size: 18px;
    color: white;
    height: 50px;
}

.carrinho img{
    margin: -5px 0;
}